.advantages {
  background-color: var(--white);
}

.advantages__header {
  padding: 20px 25px;

  @media (min-width: 768px) {
    padding: 40px 140px;
  }

  @media (min-width: 1200px) {
    padding: 40px 350px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-top: 35px;

  @media (min-width: 768px) {
    font-size: 21px;
    margin-top: 0;
    padding: 0 20px;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
    padding: 0 90px;
  }
}

.advantages__title--main {
  @media (min-width: 1200px) {
    padding: 0 30px;
  }
}

.advantages__number {
  @media (min-width: 768px) {
    margin: 0;
  }
}

.advantages__intro {
  font-size: 14px;
  line-height: 26px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.advantages__description--with-image {
  padding: 0 15px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
  }
}

.advantages__item--with-image {
  background-color: var(--blue);
  color: var(--white);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: span 3;
    width: 100%;
    min-height: 256px;
  }
}

.advantages__item--city {
  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "text image";
    order: -3;
  }
}

.advantages__item--bridge {
  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "image text";
  }
}

.advantages__text {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    grid-area: text;
  }
}

.advantages__image {
  object-fit: cover;
  margin: 0;
  grid-area: image;
}

.advantages__item--with-icon {
  text-align: left;
  padding-left: 69px;
  padding-right: 30px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 30px 43px;
    box-sizing: border-box;
    min-height: 330px;
  }

  @media (min-width: 1200px) {
    padding: 30px 50px;
  }
}

.advantages__icon {
  position: absolute;
  left: 19px;
  top: 0;

  @media (min-width: 768px) {
    position: static;
    height: 60px;
    width: 60px;
  }
}

.advantages__item--background {
  background-color: var(--background);
  margin: 0;
  padding: 25px 35px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
    padding: 41px 40px;
    box-sizing: border-box;
  }
}

.advantages__item--background .advantages__title {
  margin: 0;
}

.advantages__item--background .advantages__description {
  margin: 0;
}

.advantages__item--background:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  right: 20px;
  bottom: 0;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.advantages__triangle {
  @media (min-width: 321px) {
    display: none;
  }
}

.advantages__item--burger {
  @media (min-width: 768px) {
    order: -1;
  }
}

.advantages__item--house {
  @media (min-width: 768px) {
    order: -2;
  }
}
