.feedback {
  background-color: var(--white);
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.feedback__header {
  padding: 30px 7px;

  @media (min-width: 1200px) {
    padding: 100px 15px 30px 15px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.feedback__intro {
  font-size: 14px;
  line-height: 26px;

  @media (min-width: 768px) {
    line-height: 24px;
    margin: 0 135px;
  }

  @media (min-width: 1200px) {
    margin: 0 365px;
  }
}

.feedback__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  margin: 30px 0;
}

.feedback__fieldset::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  bottom: -10px;
  left: -20px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.feedback__fieldset:first-child::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -80px;
  left: -20px;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.feedback__fieldset--name {
  padding-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    order: -2;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
}

.feedback__fieldset--impression::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 1px;
    height: 292px;
    right: -30px;
    bottom: 20px;
    background-color: var(--gray);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.feedback__fieldset--name legend {
  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 64px;
    margin-left: 0;
  }
}

.feedback__fieldset--contacts {
  padding: 0 0 20px 0;
  grid-column: span 2;

  @media (min-width: 768px) {
    order: -1;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
}

.feedback__fieldset--contacts legend {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.feedback__fieldset--contacts legend::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 666px;
    height: 1px;
    background: linear-gradient(to right, var(--gray) 20%, var(--transparent) 20%, var(--transparent) 80%, var(--gray) 80%);
    background-repeat: no-repeat;
    background-position: center 0;
  }

  @media (min-width: 1200px) {
    width: 1000px;
    height: 1px;
    left: 0;
    background: linear-gradient(to right, var(--gray) 27%, var(--transparent) 27%, var(--transparent) 73%, var(--gray) 73%);
  }
}

.feedback__fieldset--impression {
  @media (min-width: 768px) {
    order: -3;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }
}

.feedback__fieldset--impression legend {
  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto 60px auto;
  }
}

.feedback__fieldset--sights {
  grid-column: span 2;
  width: 100%;
  padding: 0;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    box-sizing: border-box;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}

.feedback__fieldset--sights legend {
  margin-bottom: 30px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30%;
  }

  @media (min-width: 1200px) {
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 50px;
  }
}

.feedback__fieldset--sights legend::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 666px;
    height: 1px;
    left: 0;
    top: 20px;
    background: linear-gradient(to right, var(--gray) 20%, var(--transparent) 20%, var(--transparent) 80%, var(--gray) 80%);
    background-repeat: no-repeat;
    background-position: center 0;
  }

  @media (min-width: 1200px) {
    width: 1000px;
    height: 1px;
    left: 0;
    background: linear-gradient(to right, var(--gray) 27%, var(--transparent) 27%, var(--transparent) 73%, var(--gray) 73%);
  }
}

.feedback__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.feedback__message h3::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 666px;
    height: 1px;
    left: 0;
    top: 10px;
    background: linear-gradient(to right, var(--gray) 20%, var(--transparent) 20%, var(--transparent) 80%, var(--gray) 80%);
    background-repeat: no-repeat;
    background-position: center 0;
  }

  @media (min-width: 1200px) {
    width: 1000px;
    height: 1px;
    left: 0;
    background: linear-gradient(to right, var(--gray) 27%, var(--transparent) 27%, var(--transparent) 73%, var(--gray) 73%);
  }
}
