.gallery {
  background-color: var(--white);
  padding-bottom: 15px;
}

.gallery__header {
  padding: 15px 15px;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding: 40px 155px;
  }
}

.gallery__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-top: 35px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery__slogan {
  font-size: 14px;
  line-height: 26px;

  @media (min-width: 768px) {
    line-height: 24px;
    margin: 30px 30px;
  }

  @media (min-width: 1200px) {
    line-height: 24px;
    margin: 30px 230px 0 230px;
  }
}

.gallery__description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 35px;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.gallery__item {
  padding-top: 38px;
  position: relative;
}

.gallery__item:first-child {
  grid-column: span 2;

  @media (min-width: 1200px) {
    grid-column: span 3;
  }
}

.gallery__item:first-child::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  top: 0;
  background-image: url("../img/gallery-separator.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.gallery__item::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: -25px;
  background-image: url("../img/gallery-separator.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: 768px) {
    display: none;
  }
}
