.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding: 26px 0 0 0;
  }

  @media (min-width: 1200px) {
    padding: 22px 0 0 0;
  }
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 33px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 33px;
  }
}

.hotel-search__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0 20px 30px 20px;

  @media (min-width: 768px) {
    margin: 0 21%;
  }

  @media (min-width: 1200px) {
    margin: 0 30%;
  }
}

.hotel-search__button {
  @include button;
  margin-bottom: 49px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 280px;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: 768px) {
    width: 458px;
    margin-top: 37px;
    margin-bottom: 60px;
  }

  @media (min-width: 1200px) {
    margin-top: 43px;
    margin-bottom: 65px;
  }
}

.hotel-search__map {
  width: 100%;
  border: none;
}
