.page-footer {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  gap: 33px;
}

.page-footer__contact-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
