.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-position: center;
  z-index: 3;

  @media (min-width: 768px) {
    top: -56px;
  }

  @media (min-width: 1200px) {
    width: 187px;
    height: 96px;
  }
}

.page-header__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 158px;
  background-image: url("../img/intro-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-small@2x.jpg");
  }

  @media (min-width: 768px) {
    height: 290px;
    background-image: url("../img/intro.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    height: 301px;
  }
}

.page-header__intro--index {
  height: 389px;
  background-color: var(--light-shadow);
  background-image: url("../img/intro-index-small.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-index-small@2x.jpg");
  }

  @media (min-width: 768px) {
    height: 518px;
    background-image: url("../img/intro-index.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-index@2x.jpg");
    }
  }
}

.page-header__intro-text {
  @media (min-width: 768px) {
    width: 457px;
    height: 78px;
  }
}

.page-header__intro-text--index {
  top: 30px;

  @media (min-width: 768px) {
    width: 461px;
    height: 350px;
  }
}

.page-header__link--index {
  cursor: default;
}
