/* stylelint-disable */
.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  bottom: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: center;
  z-index: 3;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 0;
  }

  @media (min-width: 1200px) {
    width: 187px;
    height: 96px;
  }
}

.page-header__logo--index {
  cursor: default;
}

.page-header__link {
  cursor: pointer;
}

.page-header__link--index {
  cursor: default;
}

.page-header__menu-toggle,
.page-header__toggle--close,
.page-header__menu-toggle--open {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  top: 17px;
  right: 17px;
  z-index: 3;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__menu-toggle--open::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__menu-toggle--close::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__menu-toggle--open:hover::before {
  background-image: url("../img/icon-menu-hover.svg");
}

.page-header__menu-toggle--open:active::before {
  background-image: url("../img/icon-menu-active.svg");
}

.page-header__menu-toggle--close:hover::before {
  background-image: url("../img/icon-cross-hover.svg");
}

.page-header__menu-toggle--close:active::before {
  background-image: url("../img/icon-cross-active.svg");
}
/* stylelint-enable */
