.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  bottom: -27px;
  transform: translateX(-50%);
  background-position: center;
  z-index: 3;

  @media (min-width: 768px) {
    top: 0;
  }

  @media (min-width: 1200px) {
    width: 187px;
    height: 96px;
  }
}

.page-header__link--index {
  cursor: default;
}

.page-header__toggle,
.page-header__toggle--close {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  top: 17px;
  right: 17px;
  z-index: 3;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__toggle--nojs {
  display: none;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle:hover::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-menu-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle:active::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-menu-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle--close::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 10px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle--close:hover::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 10px;
  background-image: url("../img/icon-cross-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__toggle--close:active::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 10px;
  background-image: url("../img/icon-cross-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
