.photo-description {
  @media (min-width: 768px) {
    background-color: var(--beige);
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
  }

  @media (min-width: 1200px) {
    background-color: var(--black-transparent);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--white);
  }
}

.photo-description__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 5px;

  @media (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 0;
    max-width: 225px;
  }
}

.photo-description__author {
  text-transform: none;
  margin-top: 2px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.photo-description__likes-button {
  border: none;
  background: none;
  padding-left: 37px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--black);

  @media (min-width: 768px) {
    position: absolute;
    right: 26px;
    top: 30px;
  }

  @media (min-width: 1200px) {
    color: var(--white);
    top: 34px;
  }
}

.photo-description__likes-button--first {
  @media (min-width: 768px) {
    right: 15px;
  }
}

.photo-description__likes-button::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 21px;
  left: 21px;
  bottom: 6px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;

  @media (min-width: 768px) {
    left: 7px;
  }

  @media (min-width: 1200px) {
    background-image: url("../img/icon-like-white.svg");
  }
}
