.video {
  padding: 18px 0 100px 0;
  background-color: var(--white);
  position: relative;
  padding-bottom: 103px;

  @media (min-width: 768px) {
    padding: 20px 60px 36px 60px;
  }

  @media (min-width: 1200px) {
    padding: 48px 60px 66px 60px;
  }
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 13px;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 34px;
  }

  @media (min-width: 1200px) {
    padding-left: 25px;
  }
}

.video__intro {
  font-size: 14px;
  line-height: 24px;
  margin: 30px 30px 32px 30px;

  @media (min-width: 768px) {
    margin: 0 95px 80px 95px;
  }

  @media (min-width: 1200px) {
    margin: 0 306px 76px 314px;
    padding-left: 17px;
  }
}

.video__video {
  object-fit: contain;
  width: 648px;
  height: auto;

  @media (min-width: 1200px) {
    width: 800px;
    padding-left: 25px;
  }
}

.video__section {
  position: relative;
}
