.video-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 38px;
  left: 1%;
  width: 100%;

  @media (min-width: 768px) {
    bottom: 24px;
    left: 0;
  }
}

.video-controls__progress-line {
  width: 85%;
  height: 45px;
  background-color: var(--black-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  @media (min-width: 768px) {
    height: 93px;
    width: 648px;
    padding-right: 75px;
  }

  @media (min-width: 1200px) {
    height: 93px;
    width: 800px;
  }
}

.volume-controls__volume-bar {
  cursor: pointer;

  @media (min-width: 768px) {
    width: 389px;
  }

  @media (min-width: 1200px) {
    width: 540px;
  }
}

.video-controls__buttons {
  box-sizing: border-box;
  width: 85%;
  height: 66px;
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  gap: 31px;
  position: relative;

  @media (min-width: 768px) {
    width: 648px;
    position: absolute;
    background: none;
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}

.video-controls__button {
  border: none;
  background: none;
  cursor: pointer;
}

.video-controls__button--replay {
  margin-right: auto;
}

.video-controls__icon {
  fill: var(--dark-gray);

  &:hover {
    fill: var(--dark);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    fill: var(--white);

    &:hover {
      fill: var(--white);
      opacity: 0.6;
    }

    &:active {
      fill: var(--white);
      opacity: 0.3;
    }
  }
}

.video-controls__volume-button {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;

  @media (min-width: 768px) {
    z-index: 2;
  }
}

.video-controls__volume-switch {
  cursor: pointer;
  position: absolute;
  width: 9px;
  height: 9px;
  top: -4px;
  left: 43px;
  border-radius: 50%;
  background-color: var(--white);

  @media (min-width: 768px) {
    top: -5px;
    left: 120px;
  }

  @media (min-width: 768px) {
    top: -5px;
    left: 120px;
  }
}
